<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Camera Console</title>
{% load staticfiles %}
<link href="{% static "gps/jquery-2.0.1.js" %}" rel="stylesheet" type="text/css" />
</head>
Made it to console.  Static is at {{ thepath }}.

<script	 type="text/javascript">
$("document").ready(function() {
	$("img").css("border","3px solid red");
});
</script>

<body>
{% for f in images %}
<img class="a" src="{% static f %}" width="640" height="480" alt="image" />
{% endfor %}
</body>
</html>
